@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  float: left;
  font-family: "Roboto", sans-serif;
  background: hsl(206, 33%, 96%);
}
header {
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  float: left;
  & .wrapper {
    max-width: 750px;
    padding: 16px;
    margin: auto;
    display: flex;
  justify-content: space-between;
  align-items: center;
    & h1 {
        color: hsl(205, 78%, 60%);
        letter-spacing: 3px;
        font-size: 20px;
    }
    & a{
      text-decoration: none;
      color: hsl(205, 86%, 17%);
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 2px;
      &:nth-child(1){
        margin-right: 16px;
      }
    }
  }
}
.body-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  float: left;
  height: calc(100vh - 56px);
  & h1{
    font-size: 40px;
    background: #222;
    border-radius: 8px;
    padding: 16px;
    color: #fff;
    letter-spacing: 2px;
    & span{
      color: hsl(205, 78%, 60%);
    }
  }
  button{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 8px 16px;
    background: transparent;
    border: 2px solid #222;
    border-radius: 8px;
    margin-top: 30px;
    font-weight: 500;
    transition: all 0.3s linear;
    cursor: pointer;
    &:hover {
      color: #fff;
      background: #222;
    }
  }
}
